.App {
  background-color: white;
  /* min-height: 100vh; */
  display: flex;
  width: 92%;
  border-radius: var(--corner-px);
  box-shadow: 10px 10px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em auto;
  padding: 0.5em;
  color: var(--element-color);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .App {
    width: 50em;
  }
}

.App-logo {
  font-family: 'Audiowide', 'Arial', monospace;
  pointer-events: none;
  font-weight: normal;
  font-size: 3rem;
}

.App-tagline {
  font-size: 1.3rem;
}


