:root {
  --background-color: #1e90ff;
  --element-color: #FF6B00;
  --element-contrast: #ffffff;
  --corner-px: 10px;
  font-size: 18px;
}

@font-face {
  font-family: "Audiowide";
  src: url("fonts/Audiowide-Regular.woff");
  src: url("fonts/Audiowide-Regular.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 20px;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, select {
  margin: 0.5rem;
  border-color: var(--element-color);
  border-style: solid;
  color: var(--element-color);
  background-color: "white";
  padding: 8px;
  border-width: 2px;
  border-radius: var(--corner-px);
  font-size: 1rem;
  font-family: inherit;
}

input:focus, select:focus {
  outline: none
}

input::placeholder {
  opacity: 55%;
  color: inherit;
}

button {
  background-color: var(--element-color);
  color: var(--element-contrast);
  border: none;
  border-radius: var(--corner-px);
  padding: 0.7rem;
  margin: 0.5rem;
  box-shadow: 1px 2px black;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
}

button:disabled {
  box-shadow: none;
  cursor: none;
  opacity: 45%;
}

/* button:focus {
  outline-color: inherit;
  outline-style: dashed;
} */

button:active {
  outline: none;
  box-shadow: none;
}


.full-width {
  width: 100%;
}