.Footer-line {
  background-color: var(--element-color);
  height: 1px;
  border: 0;
}

.Footer-content {
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
}

.Footer-content > div{
    width: 15em;
    vertical-align: top;
    text-align: left;
}

.Footer-author {
    text-align: left;
    margin-top: 0;
}

.Footer-author > p{
    margin-top: 0;
}

.Footer-credits {
    text-align: left;
}

.Footer-credits > p {
    margin: 0;
}

.Footer-socials {
    display: flex;
    justify-content: space-evenly;
}

.Footer-socials > a {
    color: inherit;
    font-size: 1.2em;
    text-decoration: none;
}